body {
    background-color: #121f30;
    font-size: 1em;
    color: #ffffff;
    margin: 0;
    padding: 1.5em 1.5em 1.5em 1.5em;
    text-align: center;
}

header {
    height: 60px;
    background-color: #ffffff;
    margin-bottom: 30px;
}

.row-container {
    display: flex;
    flex-wrap: wrap;
}

.class1 {
    width: calc(33.33% - 20px);
    margin-top: 20px;
    margin-bottom: 20px;
}

.class2 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h1 {
    text-align: left;
}