<!DOCTYPE html>
<html>
    <head>
        <meta name="author" content="Kelv Gooding">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="../static/img/img_joystick.png">
        <link rel="stylesheet" href="../static/css/styles.css">
        <title>Joystick Junkie | Personal Video Game Collection</title>
    </head>
    <body>
        <header>
            <a href="{{ url_for('new_entry') }}">
                <img src="../static/img/img-add-game.png" width="30px" height="30px">
            </a>
        </header>
        <main>

            Filter by:

            <form method="post">
                <button type="submit" name="playing">Playing</button>
                <button type="submit" name="backlog">Backlog</button>
                <button type="submit" name="completed">Completed</button>
                <button type="submit" name="wishlist">Wishlist</button>
            </form>
                
            {% if ps5_count > 0 %}
            <h1>PlayStation 5 | {{ ps5_count }} Games</h1>

            
            <hr>
            <div class="row-container">
                {% for game in ps5_games %}
                    <div class="class1">
                        <img src="{{ game.3 }}" id="myButton{{ loop.index }}" class="game-image"><br>
                        <div id="myPopup{{ loop.index }}" class="popup">
                            <div class="popup-content">
                                <img src="{{ game.3 }}" id="popupImage{{ loop.index }}" class="popup-image">
                                <br>
                                <b>{{ game.0 }}</b>
                                <br>
                                <b>RELEASE DATE:</b> {{ game.1 }}
                                <br>
                                <b>RATING:</b>
                                <br>
                                {% for _ in range(game.4) %}
                                    <img src="../static/img/img-rating-star.png" width="18px" height="18px">
                                {% else %}
                                    No Rating
                                {% endfor %}
                                <br>
                            </div>
                            <button class="closePopup" data-popup-id="{{ loop.index }}">Close</button>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% endif %}

            {% if ps4_count > 0 %}
            <h1>PlayStation 4 | {{ ps4_count }} Games</h1>
            <hr>
            <div class="row-container">
                {% for game in ps4_games %}
                    <div class="class1">
                        <img src="{{ game.3 }}" id="myButton{{ loop.index }}" class="game-image"><br>
                        <div id="myPopup{{ loop.index }}" class="popup">
                            <div class="popup-content">
                                <img src="{{ game.3 }}" id="popupImage{{ loop.index }}" class="popup-image">
                                <br>
                                <b>{{ game.0 }}</b>
                                <br>
                                <b>RELEASE DATE:</b> {{ game.1 }}
                                <br>
                                <b>RATING:</b>
                                <br>
                                {% for _ in range(game.4) %}
                                    <img src="../static/img/img-rating-star.png" width="18px" height="18px">
                                {% else %}
                                    No Rating
                                {% endfor %}
                                <br>
                                </div>
                            <button class="closePopup" data-popup-id="{{ loop.index }}">Close</button>
                            </div>
                        </div>
                    {% endfor %}
            </div>
            {% endif %}

            {% if ns_count > 0 %}
            <h1>Nintendo Switch | {{ ns_count }} Games</h1>
            <hr>
            <div class="row-container">
                {% for game in ns_games %}
                    <div class="class1">
                        <img src="{{ game.3 }}" id="myButton{{ loop.index }}" class="game-image"><br>
                        <div id="myPopup{{ loop.index }}" class="popup">
                            <div class="popup-content">
                                <img src="{{ game.3 }}" id="popupImage{{ loop.index }}" class="popup-image">
                                <br>
                                <b>{{ game.0 }}</b>
                                <br>
                                <b>RELEASE DATE:</b> {{ game.1 }}
                                <br>
                                <b>RATING:</b>
                                <br>
                                {% for _ in range(game.4) %}
                                    <img src="../static/img/img-rating-star.png" width="18px" height="18px">
                                {% else %}
                                    No Rating
                                {% endfor %}
                                <br>
                                </div>
                            <button class="closePopup" data-popup-id="{{ loop.index }}">Close</button>
                            </div>
                        </div>
                    {% endfor %}
            </div>
            {% endif %}

        </main>
        <footer>
        </footer>

    <script src="../static/js/popup.js"></script>

    </body>
</html>
